{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}

  <!--Main layout-->
<main style="margin-top: 58px">
    <div class="container pt-4">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/comparison">Comparisons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/realtime">Realtime Data</a>
      </li>

    </div>
  
  <!--Main layout-->

{% else %}
<main style="margin-top: 58px">
  <div class="container pt-4">
    <!-- Section: Main chart -->
    <section class="mb-4">
      
      <div class="card">
        <div class="card-header py-3">
          <h5 class="mb-0 text-center"><strong>Login</strong></h5>
        </div>
        <div class="card-body">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="clearfix d-none d-sm-inline-block"> Ingresar </span>
          </a>
        </div>
      </div>
    </section>
  </div>  
</main>
{% endif %}
</div>
</main>



{% endblock content %}