{% extends "base.html" %}






{% block content %}

{% if request.user.is_authenticated %}

  <!--Main layout-->
<main style="margin-top: 58px">
    <div class="container pt-4">
      <!--Section: Performance Analytics -->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>{{ cur1 }} Performance Analytics </strong>
            </h5>
          </div>


          <div class="card-header text-left py-3">
            <h5 class="mb-0">
              Fore Site Flow Meter
            </h5>
          </div>

          <div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h7>Gas Volume last 24hs (Sm3)</h7>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ gasfsf }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-warning fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h7>Oil Volume last 24hs (Sm3)</h7>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ oilfsf }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-success fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h7>Water Volume last 24hs (m3)</h7>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ waterfsf }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-info fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            
          </div>

          <div class="card-header text-left py-3">
            <h5 class="mb-0">
              Well Test Separator
            </h5>
          </div>

          <div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h7>Gas Volume last 24hs (Sm3)</h7>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ gassep }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-warning fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h7>Oil Volume last 24hs (Sm3)</h7>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ oilsep }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-success fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h7>Water Volume last 24hs (m3)</h7>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ watersep }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-info fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            
          </div>

          <div class="card-header text-left py-3">
            <h5 class="mb-0">
              Differences
            </h5>
          </div>

          
          <div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Gas Difference</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    
                    <div class="d-flex flex-row">
                      
                      <div class="align-self-center">
                        <h1 class="text-warning">{{ difg }} %</h1>
                      </div>

                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-pie text-warning fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Oil Difference</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h1 class="text-success">{{ difo }} %</h1>
                      </div>
                    </div>
                      <div class="align-self-center">
                        <i class="fas fa-chart-pie text-success fa-3x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            

              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h6>Water Difference</h6>
                    <div class="d-flex justify-content-between p-md-1">
                      
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <h1 class="text-info">{{ difw }} %</h1>
                        </div>
                      </div>
                        <div class="align-self-center">
                          <i class="fas fa-chart-pie text-info fa-3x"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
          </div>






          <div class="card-body">
            {% autoescape off %}
            {{ plot_div6 }}
            {% endautoescape %}
          </div>
        </div>
      </section>
      <!-- Section: Main chart -->
      <section class="mb-4">
        
        <div class="card">
          <div class="card-header py-3">
            <h5 class="mb-0 text-center"><strong>Production Trends</strong></h5>
          </div>
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div2 }}
            {% endautoescape %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div3 }}
            {% endautoescape %}
          </div>
        </div>


      </section>
      <section class="mb-4">
        <div class="card">
          <div class="card-header py-3">
            <h5 class="mb-0 text-center"><strong>Pressure & Temperatures Trends</strong></h5>
          </div>
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div3 }}
            {% endautoescape %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div4 }}
            {% endautoescape %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div5 }}
            {% endautoescape %}
          </div>
        </div>
      </section>
      <!-- Section: Main chart -->

    </div>

  <!--Main layout-->

{% else %}
<main style="margin-top: 58px">
  <div class="container pt-4">
    <!-- Section: Main chart -->
    <section class="mb-4">
      
      <div class="card">
        <div class="card-header py-3">
          <h5 class="mb-0 text-center"><strong>Login</strong></h5>
        </div>
        <div class="card-body">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="clearfix d-none d-sm-inline-block"> Ingresar </span>
          </a>
        </div>
      </div>
    </section>
  </div>  
</main>
{% endif %}
</div>
</main>



{% endblock content %}