{% extends "base.html" %}






{% block content %}

{% if request.user.is_authenticated %}
{% load static %}







  <!--Main layout-->
<main style="margin-top: 58px">
    <div class="container pt-4">
      <!--Section: Performance Analytics -->
      <section class="mb-4">
        <div class='card'>
          <div class="card-header text-center py-3">
            <div class="image-overlay-wrap">
              {% if cur == 'fsfdata' %}
              <img src="{% static 'img/fsfmeter.JPG' %}" />
              {% else %}
              <img src="{% static 'img/sepmeter.JPG' %}" />
              {% endif %} 
            </div>
          </div>  
        </div>  


        <div class="card">
          <div class="card-header text-center py-3">
            <h2 class="mb-0 text-center">
              <strong>{{ cur1 }} Well Test Information </strong> (Last 24hs)
            </h2>
          </div>



          <div class="row">
            <div class="col-xl-6 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Well Head Pressure (Psig)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4"> {{ whp }}</h2>
                      </div>
                      <div>
                        
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-tachometer-alt text-danger fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-md-12 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Well Head Temperature (°C)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ wht }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-thermometer-half text-success fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

         

          <div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Flow Line Pressure (Psig)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ sp }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-tachometer-alt text-warning fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Gas Temperature (°C)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ st }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-thermometer-half text-warning fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Oil Temperature (°C)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ ot }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-thermometer-half text-success fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            
          </div>

                   
          <div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Flow Water Cut (%)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    
                    <div class="d-flex flex-row">
                      
                      <div class="align-self-center">
                        <h1 class="text-info">{{ wc }} %</h1>
                      </div>

                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-pie text-info fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>GOR (m3/m3)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h1 class="text-success">{{ gor }} </h1>
                      </div>
                    </div>
                      <div class="align-self-center">
                        <i class="fas fa-chart-pie text-success fa-3x"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card">
                  <div class="card-body">
                    <h6>Gas Flow Rate Actual (m3/d)</h6>
                    <div class="d-flex justify-content-between p-md-1">
                      
                      <div class="d-flex flex-row">
                        <div class="align-self-center">
                          <h2 class="h1 mb-0 me-4">{{ gasact }}</h2>
                        </div>
                      </div>
                        <div class="align-self-center">
                          <i class="fas fa-chart-line text-warning fa-3x"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
            
                          
          </div>

          <div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Gas Flow Rate (Sm3/d)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ gas }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-warning fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Oil Flow Rate (m3/d)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ oil }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-success fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-xl-4 col-md-6 mb-4">
              <div class="card">
                <div class="card-body">
                  <h6>Water Flow Rate (m3/d)</h6>
                  <div class="d-flex justify-content-between p-md-1">
                    <div class="d-flex flex-row">
                      <div class="align-self-center">
                        <h2 class="h1 mb-0 me-4">{{ water }}</h2>
                      </div>
                    </div>
                    <div class="align-self-center">
                      <i class="fas fa-chart-line text-info fa-3x"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            
          </div>


          
        </div>
      </section>
      <!-- Section: Main chart -->
      <section class="mb-4">
        
        <div class="card">
          <div class="card-header py-3">
            <h2 class="mb-0 text-center"><strong>{{ cur1 }} Data Charts</strong></h2>
          </div>
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div2 }}
            {% endautoescape %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div3 }}
            {% endautoescape %}
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            {% autoescape off %}
            {{ plot_div4 }}
            {% endautoescape %}
          </div>
        </div>
        <div class="col text-center"><a class="nav-link waves-effect" href="/">
          <h5 class="btn btn-primary mb-4 ripple-surface"><strong>Back to home</strong></h5></a>
        </div>
      </section>
      <!-- Section: Main chart -->

      

      

    </div>

  <!--Main layout-->

{% else %}
<main style="margin-top: 58px">
  <div class="container pt-4">
    <!-- Section: Main chart -->
    <section class="mb-4">
      
      <div class="card">
        <div class="card-header py-3">
          <h5 class="mb-0 text-center"><strong>User Login</strong></h5>
        </div>
        <div class="col text-center">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="btn btn-primary mb-4 ripple-surface"> Login </span>
          </a>
        </div>
      </div>
    </section>
  </div>  
</main>
{% endif %}
</div>
</main>



{% endblock content %}