{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
{% load static %}


  <!--Main layout--> <!--  --> 
<main style="margin-top: 58px">
    <div class="container pt-4" style="background-image: url('/static/img/ForeSite4.JPG');">
      
        <li class="nav">
          <a class="btn btn-primary mb-4 ripple-surface" href="/dashboard">Main Dashboard - Overall Data analysis with data from both meters for all trial time</a>
        </li>
        <li class="nav">
          <a class="btn btn-primary mb-4 ripple-surface" href="/fsfdata">ForeSite Flow Data - Test Information from Multiphase meter database</a>
        </li>
        <li class="nav">
          <a class="btn btn-primary mb-4 ripple-surface" href="/sepdata">Separator Data - Test Information from Test Separator database</a>
        </li>
        <li class="nav">
          <a class="btn btn-primary mb-4 ripple-surface" href="/analytics">Today Analytics - Data analysis with data from both meters in the last 24hs</a>
        </li>
        <li class="nav">
          <a class="btn btn-primary mb-4 ripple-surface" href="/realtime">Realtime Data - real-time data from multiphase meter each minute (last 12hs) </a>
        </li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
        <li class="nav-link"></li>
    </div>
  
  <!--Main layout-->

{% else %}
<main style="margin-top: 58px">
  <div class="container pt-4">
    <!-- Section: Main chart -->
    <section class="mb-4">
      
      <div class="card">
        <div class="card-header py-3">
          <h5 class="mb-0 text-center"><strong>User Login</strong></h5>
        </div>
        <div class="col text-center">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="btn btn-primary mb-4 ripple-surface"> Login </span>
          </a>
        </div>
      </div>
    </section>
  </div>  
</main>
{% endif %}
</div>
</main>



{% endblock content %}