{% load static %}
<!--Main Navigation-->
<header>
  
  <!-- Sidebar -->
  
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-gray">
    
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
      {% if cur == 'dashboard' %}
      <a href="/dashboard" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
      {% else %}
      <a href="/dashboard" class="list-group-item list-group-item-action py-2 ripple" aria-current="false">
      {% endif %}
        <i class="fas fa-tachometer-alt fa-fw me-3" ></i><span>Main dashboard</span>
      </a>
      {% if cur == 'fsfdata' %}
      <a href="/fsfdata" class="list-group-item list-group-item-action py-2 ripple active">
      {% else %}
      <a href="/fsfdata" class="list-group-item list-group-item-action py-2 ripple"> 
      {% endif %} 
        <i class="fas fa-chart-area fa-fw me-3" ></i><span>ForeSite Flow Data </span>
      </a>
      {% if cur == 'sepdata' %}
      <a href="/sepdata" class="list-group-item list-group-item-action py-2 ripple active">
      {% else %}
      <a href="/sepdata" class="list-group-item list-group-item-action py-2 ripple"> 
      {% endif %} 
        <i class="fas fa-chart-area fa-fw me-3" ></i><span>Separator Data </span>
      </a>
      {% if cur == 'analytics' %}
      <a href="/analytics" class="list-group-item list-group-item-action py-2 ripple active">
      {% else %}
      <a href="/analytics" class="list-group-item list-group-item-action py-2 ripple">
      {% endif %}   
        <i class="fas fa-chart-line fa-fw me-3"></i><span>Today Analytics</span>
      </a>
      {% if cur == 'realtime' %}
      <a href="/realtime" class="list-group-item list-group-item-action py-2 ripple active">
      {% else %}
      <a href="/realtime" class="list-group-item list-group-item-action py-2 ripple">
      {% endif %} 
        <i class="fas fa-chart-bar fa-fw me-3" ></i><span>Real time Data</span></a>
      </div>
    </div>
</nav>
  
<!-- Sidebar -->

<!-- Navbar -->
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-gray fixed-top">
    <!-- Container wrapper -->
    
    <div class="container-fluid">
      <!-- Toggle button -->
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="/">
        <img src="{% static 'img/logo2.png' %}" height="50" alt="" loading="lazy" />
      </a>

      <div class="collapse" id="navbarSupportedContent">
        <!-- Left -->
        <div class="bg-white p-4">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="btn btn-primary mb-4 waves-effect" href="/">Home<span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary mb-4 waves-effect" href="/dashboard" target="_blank">Main dashboard</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary mb-4 waves-effect" href="/fsfdata"   target="_blank">ForeSite Flow Data</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary mb-4 waves-effect" href="/sepdata" target="_blank">Separator Data</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary mb-4 waves-effect" href="/analytics" target="_blank">Today Analytics</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary mb-4 waves-effect" href="/realtime" target="_blank">Real time Data</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-primary mb-4 waves-effect" href="https://www.weatherford.com/en/products-and-services/production/production-4-0/flow-measurement/" target="_blank">Weatherford foresite flow</a>
            </li>
          </ul>
        </div>  
      </div>

      
      <!-- Search form -->


      <!-- Right links -->
      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="">
            <span class="clearfix d-none d-sm-inline-block"> Logged as:   {{ request.user }} </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
            <span class="clearfix d-none d-sm-inline-block"> Logout </span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'account_login' %}">
            <span class="clearfix d-none d-sm-inline-block"> Login </span>
          </a>
        </li>
        {% endif %}
      
      </ul>
    </div>
    <!-- Container wrapper -->

  </nav>

  <script type="text/javascript" src="{% static 'js/admin.js' %}"></script>

          

  <!-- Navbar -->
</header>




<!--Main Navigation-->
